@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.left-side {
    background-image: url("/assets/imgs/halie-west-bg.jpg");
    background-size: cover;
    min-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img-brand {
    display: flex;
    position: absolute;
    top: 20%;
    background-color: hsla(0,0%,0%, 0.3);
    justify-content: center;
    flex: 1;
    width: 100%;
}
.brand-name {
    font-family: 'Norse';
    color: white;
    font-size: 100px;
    align-self: center;
}

.left-side-footer {
    position: absolute;
    bottom: 0px;
    align-self: center;
    color: white;
    font-size: 14px;
}

#img-logo {
    width: 25%;
    height: 25%;
}

.left-side a:visited {
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
}