@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    
}

.left-side {
    background-image: url("/assets/imgs/halie-west-bg.jpg");
    background-size: cover;
    min-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

.img-brand {
    display: flex;
    position: absolute;
    top: 20%;
    background-color: hsla(0,0%,0%, 0.3);
    justify-content: center;
    flex: 1;
    width: 100%;
}
.brand-name {
    font-family: 'Norse';
    color: white;
    font-size: 100px;
    align-self: center;
}

.left-side-footer {
    position: absolute;
    bottom: 0px;
    align-self: center;
    color: white;
    font-size: 14px;
}

#img-logo {
    width: 25%;
    height: 25%;
}

.left-side a:visited {
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #F5F5F5;
    justify-content: space-between;
    
}

.top-paragraphs {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 100px 10px 30px;

    text-align:left;
}

.sign-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 25px;
    padding-left: 30px;
    background: white;
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
    gap: 5rem;
    align-self: stretch;
}
.form-column {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;
    flex-direction: column;
    font-size: 12px;
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.form-column input {
    border-radius: 5px;
    min-height: 1.5rem;
    width: 250px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;

}

input:invalid {
    border: 1px solid red;
}

.main-footer {
    padding-left: 30px;
    padding-top: 60px;
}

button {
    background-color: #596D48;
    border-radius: 6px;
    border: 0px;
    padding: 0.75rem;
    color: white;
    font-weight: 700;
    width: 200px;
}

.main-footer a:visited, a {
    color: #596D48;
}